python-telegram-bot
instaloader
aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram
requests
tgcrypto
python-dotenv
redis
psycopg2-binary
feedparser
filesplit
fsplit
git+https://github.com/XMYSTERlOUSX/mega.py

aiohttp
wget
OpenCC
hachoir
dnspython
motor
pyromod
psutil
ffmpeg-python
ffmpeg
python-arq
future
py-tgcalls
